#map {
    z-index: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    padding-top: 50px;
 }

 .nxt-content {
   z-index: 1;
   position: absolute;
   width: 100%;
 }

 .navbar {
    height: 50px;
    width: 100%;
}